

.socials a  {behavior:url(js/PIE.htc); position: relative;}



a.various span {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

a.various:hover span {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}


#search a:hover{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}