<!DOCTYPE html>
<html lang="en">
     <head>
     <title>Contacts</title>
     <meta charset="utf-8">
     <meta name = "format-detection" content = "telephone=no" />
     <link rel="icon" href="images/favicon.ico">
     <link rel="shortcut icon" href="images/favicon.ico" />
     <link href="bootstrap.css" rel="stylesheet">
     <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="css/form.css">
     <script src="js/jquery.js"></script>
     <script src="js/jquery-migrate-1.1.1.js"></script>
     <script src="js/script.js"></script> 
     <script src="js/forms.js"></script> 
     <script src="js/superfish.js"></script>
     <script src="js/jquery.equalheights.js"></script>
     <script src="js/jquery.mobilemenu.js"></script>
     <script src="js/jquery.easing.1.3.js"></script>
     <script>
   
 

     </script>
     <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <link rel="stylesheet" media="screen" href="css/ie.css">


    <![endif]-->
     </head>
     <body class="page1">
<!--==============================header=================================-->
 <header> 
 <div class="container_12">
  <div class="grid_12">
      <h1>
        <a href="index.html">
          <img src="images/logo.png" alt="Your Happy Family">
        </a>
      </h1>   
      <form id="search" action="" method="GET">
        <input type="text" name="s">                           
        <a onClick="document.getElementById('search').submit()" class="">
        </a>
        <div class="clear"></div>
      </form>
      <div class="clear"></div> 
    <div class="menu_block">
   
           <nav   class="" >
            <ul class="sf-menu">
                   <li><a href="index.html">Home</a></li>
                   <li><a href="index-1.html">About</a></li>
                   <li><a href="index-2.html">Events</a></li>
                   <li><a href="index-3.html">Media</a></li>
                   <li><a href="index-4.html">Blog </a><ul>
                        <li><a href="#">Dolore ipsu</a></li>
                        <li><a href="#">Consecte</a> 
                            <ul>
                            <li><a href="#">Dolore ipsu</a></li>
                            <li><a href="#">Consecte</a></li>
                            <li><a href="#">Elit Conseq</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Elit Conseq</a></li>
                     </ul></li>
                   <li class="current"><a href="index-5.html">Contacts </a></li>
                 </ul>
              </nav>
            <div class="clear"></div>
          
      </div>
    </div></div>
    
</header>

<!--=======content================================-->
<div class="content">
  <div class="container_12">
      <div class="row">
          <div class="col-xs-6">
              <br/>
              <div class="panel panel-default">
  <div class="panel-heading">Panel heading without title</div>
  <div class="panel-body">
      
    <span>Seleciona o seu estado</span>
                <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>   
    <span>Categoria</span>
               <select class="form-control">
                   <option value="7">DEPUTADO(A) ESTADUAL</option>
                   <option value="6">DEPUTADO FEDERAL</option>
                   <option value="5">SENADOR</option>
                   <option value="3">GOVERNADOR</option>
                   <option value="1">PRESIDENTE DA REPÚBLICA</option>
              </select>   
  </div>
</div>
                         
          </div>
          <div class="col-xs-6">
              <br/>
              <div class="panel panel-default">
  <div class="panel-heading">Panel heading without title</div>
  <div class="panel-body">
      
    <div class="media">
      <a href="#" class="media-left">
        <img  src="images/avatar.png" style="width: 64px; height: 64px;" >
      </a>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div> 
    <div class="media">
      <a href="#" class="media-left">
        <img  src="images/avatar.png" style="width: 64px; height: 64px;" >
      </a>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div> 
    <div class="media">
      <a href="#" class="media-left">
        <img  src="images/avatar.png" style="width: 64px; height: 64px;" >
      </a>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div> 
  
  </div>
</div>
            
              
          </div>
          <div class="span4">
          
      </div>
      </div>
  </div>
</div>
<!--==============================footer=================================-->

<footer>    
   <div class="container_12">
      <div class="grid_12">
      <div class="socials">
        <a href="#"><img src="images/fb.png" alt=""></a>
        <a href="#"><img src="images/rss.png" alt=""></a>
        <a href="#"><img src="images/twitter.png" alt=""></a>
        <a href="#"><img src="images/g_plus.png" alt=""></a>
      </div>
      <div class="copy">    
        <span>roan season</span> &copy; 2013 <a href="index-6.html">Privacy Policy</a>
      </div>
      
    </div>
    </div>
</footer>
</body>
</html>