<!DOCTYPE html>
<html lang="pt-br">
     <head>
     <title>Home</title>
     <meta charset="utf-8">
     <meta name = "format-detection" content = "telephone=no" />
     <link rel="icon" href="images/favicon.ico">
     <link rel="shortcut icon" href="images/favicon.ico" />
     <link rel="stylesheet" href="css/style.css">
     <script src="js/jquery.js"></script>
     <script src="js/jquery-migrate-1.1.1.js"></script>
     <script src="js/script.js"></script> 
     <script src="js/superfish.js"></script>
     <script src="js/jquery.equalheights.js"></script>
     <script src="js/jquery.mobilemenu.js"></script>
     <script src="js/jquery.easing.1.3.js"></script>
     <script src="js/jquery.carouFredSel-6.1.0-packed.js"></script>
     <script  src="js/jquery.touchSwipe.min.js"></script>
     <script>
     
 $(window).load (
    function(){$('.carousel1').carouFredSel({auto: 8000,prev: '.prev',next: '.next', width: 940, items: {
      visible : {min: 1,
       max: 1
},
height: 'auto',
 width: 940,

    }, responsive: true, 
    
    scroll: 1, 
    
    mousewheel: false,
    
    swipe: {onMouse: true, onTouch: true}});
    
    } );   
    jQuery(function(){

    });      
    </script>
     <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <link rel="stylesheet" media="screen" href="css/ie.css">


    <![endif]-->
     </head>
     <body class="page1">
<!--==============================header=================================-->
 <header> 
 <div class="container_12">
  <div class="grid_12">
      <h1>
        <a href="index.html">
          <img src="images/logo.png" alt="Your Happy Family">
        </a>
      </h1>   
      <form id="search" action="search.php" method="GET">
        <input type="text" name="s">                           
        <a onClick="document.getElementById('search').submit()" class="">
        </a>
        <div class="clear"></div>
      </form>
      <div class="clear"></div> 
    <div class="menu_block">
   
           <nav   class="" >
            <ul class="sf-menu">
                   <li class="current "><a href="index.html">Home</a></li>
                   <li><a href="index-1.html">About</a></li>
                   <li><a href="index-2.html">Events</a></li>
                   <li><a href="index-3.html">Media</a></li>
                   <li><a href="index-4.html">Blog </a><ul>
                        <li><a href="#">Dolore ipsu</a></li>
                        <li><a href="#">Consecte</a> 
                            <ul>
                            <li><a href="#">Dolore ipsu</a></li>
                            <li><a href="#">Consecte</a></li>
                            <li><a href="#">Elit Conseq</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Elit Conseq</a></li>
                     </ul></li>
                   <li><a href="index-5.html">Votar </a></li>
                 </ul>
        </nav>
            <div class="clear"></div>
          
      </div>
    </div></div>
    <div class="car_bg">
    <div class="container_12">
      <div class="grid_12">
      <div class="car_div">
        <ul class="carousel1">
          <li>
            <span>Our actions </span>
talk instead of words 
          </li>
          <li>
            <span>Absolutely</span> new approach to politics
          </li>
          <li>
            <span>Leading<br> people</span> to better quality life
          </li>
        
        </ul></div>
        <a href="#" class="prev"></a><a href="#" class="next"></a>
      </div>
    </div></div>
  
</header>
<div class="page1_block"><div>
   <div class="container_12">
     <div class="grid_4">
       <div class="box">
         <div class="maxheight">
           <div class="title">ELEIÇÕES</div>
           <div class="inner1">
             <img src="images/page1_img1.jpg" alt="">
             <h3>Dolore ipsum</h3>
             <div class="clear"></div>Mes cuml dia sed in lacus ut eniascet aliiqt es sitet amet eismod ictor ut lig ameti dapibus ticdu nt mtsenе dolorlt comme. Mes cuml dia sed inertio.
             <br>
             <a href="#" class="btn">Detalhes</a>
           </div>
         </div>
       </div>
     </div>
     <div class="grid_4">
       <div class="box">
         <div class="maxheight">
           <div class="title">QUESTÕES</div>
           <div class="inner1">
             <img src="images/page1_img2.jpg" alt="">
             <h3>Dolore ipsum</h3>
             <div class="clear"></div>Mes cuml dia sed in lacus ut eniascet aliiqt es sitet amet eismod ictor ut lig ameti dapibus ticdu nt mtsenе dolorlt comme. Mes cuml dia sed inertio.
             <br>
             <a href="#" class="btn">Detalhes</a>
           </div>
         </div>
       </div>
     </div>
     <div class="grid_4">
       <div class="box">
         <div class="maxheight">
           <div class="title">MISSÃO</div>
           <div class="inner1">
             <img src="images/page1_img3.jpg" alt="">
             <h3>Dolore ipsum</h3>
             <div class="clear"></div>Mes cuml dia sed in lacus ut eniascet aliiqt es sitet amet eismod ictor ut lig ameti dapibus ticdu nt mtsenе dolorlt comme. Mes cuml dia sed inertio.
             <br>
             <a href="#" class="btn">Detalhes</a>
           </div>
         </div>
       </div>
     </div>
   </div>
   </div>
 </div> 

<!--=======content================================-->
<div class="content page1">
  <div class="container_12">
    <div class="grid_8">
      <img src="images/page1_img4.jpg" alt="" class="img_inner fleft">
      <div class="extra_wrapper">
        <h2>Building 
the New Country</h2>
        <div class="text1"><a href="#">Vivamus scelerisque augue nec arcu aliquet.Nunc tempor.</a> </div>Mes cuml dia sed in lacus ut eniascet etor ingerto aliiqt es sitet amet eismod ictorut ligulate ameti dapi licdu nt mtsent lusto dolor ltisim commees cuml dia sed inertio lacus ut.
      </div>
      <div class="clear"></div>
      <div class="hor_separator"></div>
      <div class="grid_4 alpha">
        <h3 class="head1">Popular Posts</h3>
        <div class="post">
          <div class="text1"><a href="#">arcu egestas aliquet.</a>
</div>
          <div class="col1">Submitted by <a href="#">Admin</a>, <time datetime="2013-01-01">14/07/2011 - 8:30</time></div>Mes cuml dia sed in lacus ut eniascet etor ing aliiqt es sitet amet eismod ictorut ligulate.
        </div>
        <div class="post">
          <div class="text1"><a href="#">arcu egestas aliquet.</a>
</div>
          <div class="col1">Submitted by <a href="#">Admin</a>, <time datetime="2013-01-01">14/07/2011 - 8:30</time></div>Mes cuml dia sed in lacus ut eniascet etor ing aliiqt es sitet amet eismod ictorut ligulate.
        </div>
      </div>
      <div class="grid_4 omega">
        <h3 class="head1">Honesty Ideology 
to the People</h3>
<div class="text1 tx1">Vivamus scelerisque augue 
nec arcu egestas aliquet.</div>
Mes cuml dia sed in lacus ut eniascet etor ing aliiqt es sitet amet eismod ictorut ligulate ameti dapi licdu nt mtsent lusto dolor ltisim com.<br>
      <a href="#" class="btn">Detalhes</a>
      </div>
    </div>
    <div class="grid_4">
      <h3>DESTAQUES</h3>
      <ul class="list">
        <li>
          <div class="date">
            <time datetime="2013-01-01">29<span>may</span></time>
            <div class="comment"></div>
          </div>
          <div class="extra_wrapper">
            <div class="list_title"> <a href="#">Donec facilisi</a></div>
            <div class="col1">Lorem Ipsum dolore </div>Morbi tempor quam vel massa adipiscing ut cursus mi congue pelle ntesque nisel. 
          </div>
        </li>
        <li>
          <div class="date">
            <time datetime="2013-01-01">28<span>may</span></time>
            <div class="comment"></div>
          </div>
          <div class="extra_wrapper">
            <div class="list_title"> <a href="#">Donec facilisi</a></div>
            <div class="col1">Lorem Ipsum dolore </div>Morbi tempor quam vel massa adipiscing ut cursus mi congue pelle ntesque nisel. 
          </div>
        </li>
        <li>
          <div class="date">
            <time datetime="2013-01-01">27<span>may</span></time>
            <div class="comment"></div>
          </div>
          <div class="extra_wrapper">
            <div class="list_title"> <a href="#">Donec facilisi</a></div>
            <div class="col1">Lorem Ipsum dolore </div>Morbi tempor quam vel massa adipiscing ut cursus mi congue pelle ntesque nisel. 
          </div>
        </li>
      </ul>
    </div>
  </div>
  
</div>
<!--==============================footer=================================-->

<footer>    
   <div class="container_12">
      <div class="grid_12">
      <div class="socials">
        <a href="#"><img src="images/fb.png" alt=""></a>
        <a href="#"><img src="images/rss.png" alt=""></a>
        <a href="#"><img src="images/twitter.png" alt=""></a>
        <a href="#"><img src="images/g_plus.png" alt=""></a>
      </div>
      <div class="copy">    
        <span>roan season</span> &copy; 2013 <a href="index-6.html">Privacy Policy</a> <!--{%FOOTER_LINK} -->
      </div>
      
    </div>
    </div>
</footer>
<!--LIVEDEMO_00 -->
</body>
</html>