<!DOCTYPE html>
<html lang="en">
     <head>
     <title>Events</title>
     <meta charset="utf-8">
     <meta name = "format-detection" content = "telephone=no" />
     <link rel="icon" href="images/favicon.ico">
     <link rel="shortcut icon" href="images/favicon.ico" />
     <link rel="stylesheet" href="css/style.css">
     <script src="js/jquery.js"></script>
     <script src="js/jquery-migrate-1.1.1.js"></script>
     <script src="js/script.js"></script> 
     <script src="js/superfish.js"></script>
     <script src="js/jquery.equalheights.js"></script>
     <script src="js/jquery.mobilemenu.js"></script>
     <script src="js/jquery.easing.1.3.js"></script>
     <script>
   
 

     </script>
     <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <link rel="stylesheet" media="screen" href="css/ie.css">


    <![endif]-->
     </head>
     <body class="page1">
<!--==============================header=================================-->
 <header> 
 <div class="container_12">
  <div class="grid_12">
      <h1>
        <a href="index.html">
          <img src="images/logo.png" alt="Your Happy Family">
        </a>
      </h1>   
      <form id="search" action="search.php" method="GET">
        <input type="text" name="s">                           
        <a onClick="document.getElementById('search').submit()" class="">
        </a>
        <div class="clear"></div>
      </form>
      <div class="clear"></div> 
    <div class="menu_block">
   
           <nav   class="" >
            <ul class="sf-menu">
                   <li><a href="index.html">Home</a></li>
                   <li><a href="index-1.html">About</a></li>
                   <li class="current"><a href="index-2.html">Events</a></li>
                   <li><a href="index-3.html">Media</a></li>
                   <li><a href="index-4.html">Blog </a><ul>
                        <li><a href="#">Dolore ipsu</a></li>
                        <li><a href="#">Consecte</a> 
                            <ul>
                            <li><a href="#">Dolore ipsu</a></li>
                            <li><a href="#">Consecte</a></li>
                            <li><a href="#">Elit Conseq</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Elit Conseq</a></li>
                     </ul></li>
                   <li><a href="index-5.html">Contacts </a></li>
                 </ul>
              </nav>
            <div class="clear"></div>
          
      </div>
    </div></div>
    
</header>

<!--=======content================================-->
<div class="content">
  <div class="container_12">
    <div class="grid_8">
      <h3>hot events</h3>
      <div class="block1">
        <img src="images/page3_img1.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper">
          <div class="text1">arcu egestas aliquet</div>
          <div class="col1">
            <time datetime="2013-01-01">14/07/2011 - 8:30</time>
          </div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. 
          <br>
          <a href="#" class="btn">Details</a>
        </div>
      </div>
      <div class="block1">
        <img src="images/page3_img2.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper">
          <div class="text1">Lorem ipsum dolor</div>
          <div class="col1">
            <time datetime="2013-01-01">14/07/2011 - 8:30</time>
          </div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. 
          <br>
          <a href="#" class="btn">Details</a>
        </div>
      </div>
      <div class="block1">
        <img src="images/page3_img3.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper">
          <div class="text1">Praesent vestibulum molestie</div>
          <div class="col1">
            <time datetime="2013-01-01">14/07/2011 - 8:30</time>
          </div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. 
          <br>
          <a href="#" class="btn">Details</a>
        </div>
      </div>
      <div class="block1">
        <img src="images/page3_img4.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper">
          <div class="text1">Vestibulum iaculis</div>
          <div class="col1">
            <time datetime="2013-01-01">14/07/2011 - 8:30</time>
          </div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. 
          <br>
          <a href="#" class="btn">Details</a>
        </div>
      </div>
    </div>
    <div class="grid_4">
      <h3>events of the week</h3>
       <ul class="list l1">
        <li>
          <div class="date">
            <time datetime="2013-01-01">29<span>may</span></time>
            <div class="comment"></div>
          </div>
          <div class="extra_wrapper">
            <div class="list_title"> <a href="#">Donec facilisi</a></div>
            <div class="col1">Lorem Ipsum dolore </div>Morbi tempor quam vel massa adipiscing ut cursus mi congue pelle ntesque nisel. 
          </div>
        </li>
        <li>
          <div class="date">
            <time datetime="2013-01-01">28<span>may</span></time>
            <div class="comment"></div>
          </div>
          <div class="extra_wrapper">
            <div class="list_title"> <a href="#">Donec facilisi</a></div>
            <div class="col1">Lorem Ipsum dolore </div>Morbi tempor quam vel massa adipiscing ut cursus mi congue pelle ntesque nisel. 
          </div>
        </li>
        <li>
          <div class="date">
            <time datetime="2013-01-01">27<span>may</span></time>
            <div class="comment"></div>
          </div>
          <div class="extra_wrapper">
            <div class="list_title"> <a href="#">Donec facilisi</a></div>
            <div class="col1">Lorem Ipsum dolore </div>Morbi tempor quam vel massa adipiscing ut cursus mi congue pelle ntesque nisel. 
          </div>
        </li>
      </ul>
      <div class="hor_separator hor1"></div>
      <h3 class="head1">recent speeches</h3>
      <div class="post">
          <div class="text1"><a href="#">Pellentesque sed</a></div>
          <div class="col1">
            <time datetime="2013-01-01">14/07/2011 - 8:30</time>
          </div>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem.
        </div>
        <div class="post">
          <div class="text1"><a href="#">Enim adipiscing </a></div>
          <div class="col1">
            <time datetime="2013-01-01">14/07/2011 - 8:30</time>
          </div>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem.
        </div>  
    </div>
  </div>
</div>
<!--==============================footer=================================-->

<footer>    
   <div class="container_12">
      <div class="grid_12">
      <div class="socials">
        <a href="#"><img src="images/fb.png" alt=""></a>
        <a href="#"><img src="images/rss.png" alt=""></a>
        <a href="#"><img src="images/twitter.png" alt=""></a>
        <a href="#"><img src="images/g_plus.png" alt=""></a>
      </div>
      <div class="copy">    
        <span>roan season</span> &copy; 2013 <a href="index-6.html">Privacy Policy</a>
      </div>
      
    </div>
    </div>
</footer>
</body>
</html>